.join-block {
  margin-left: 45px;
}

.join-block__join-content {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.social-footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-footer-icon {
  fill: #ffffff;
}
