.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--tb-color);
  transform: translate(-50%, -50%);
  animation-name: changemodalbtn;
  animation-duration: 500ms;
  border-radius: 4px;
  padding: 40px 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .close-btn-icon,
  &:focus .close-btn-icon {
    fill: var(--accent-color);
  }
}
