.works {
  padding-top: 47px;
  padding-bottom: 94px;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.our__works {
  list-style: none;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.works__example {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.overlay-description {
  position: relative;
}
.overlay-description__overlay-photo {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--other-color);
  text-align: center;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  right: 0;
  bottom: 0;
}
/* наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--tb-color);
}
.team__team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.team__our-team {
  list-style: none;
  text-align: center;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.team__candidate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__team-cards {
  margin-top: 30px;
  margin-left: 30px;
  text-align: center;
  background-color: var(--other-color);
  flex-basis: calc((100% - 120px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #ececec;
}

.team__candidate-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--under-color);
  margin-bottom: 10px;
}
