@keyframes changemodalbtn {
  25% {
    transform: translate(25%);
    transform: opacity(25%);
  }
  50% {
    transform: translate(50%);
    transform: opacity(50%);
  }
  75% {
    transform: translate(75%);
    transform: opacity(75%);
  }
  100% {
    transform: translate(100%);
    transform: opacity(100%);
  }
}
