:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --under-color: #757575;
  --other-color: #ffffff;
  --bg-hf: #2f303a;
  --tb-color: #f5f4fa;
  --color-adds: rgba(255, 255, 255, 0.6);
  --pixels-interval: 30px;
  --minuspixels: -30px;
}
