.top {
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}
.site-navigation {
  display: flex;
  margin-left: 92px;
  margin-top: 0;
  margin-bottom: 0;
}
.site-navigation__nav-item {
  margin-right: 50px;
}
.site-navigation > .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer-dsg__adress-block__logo1 {
  color: var(--accent-color);
}
.logo {
  color: var(--title-color);
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
